<configuration>
  <components>
    
    <component
		  id="AccountsRepository"
		  lifestyle="Transient"
		  service="GatherContent.Connector.IRepositories.Interfaces.IAccountsRepository, GatherContent.Connector.IRepositories"
		  type="GatherContent.Connector.UmbracoRepositories.Repositories.AccountsRepository, GatherContent.Connector.UmbracoRepositories">
    </component>

    <component
      id="ItemsRepository"
      lifestyle="Transient"
      service="GatherContent.Connector.IRepositories.Interfaces.IItemsRepository, GatherContent.Connector.IRepositories"
      type="GatherContent.Connector.UmbracoRepositories.Repositories.ItemsRepository, GatherContent.Connector.UmbracoRepositories">
    </component>

    <component
      id="MappingRepository"
      lifestyle="Transient"
      service="GatherContent.Connector.IRepositories.Interfaces.IMappingRepository, GatherContent.Connector.IRepositories"
      type="GatherContent.Connector.UmbracoRepositories.Repositories.MappingRepository, GatherContent.Connector.UmbracoRepositories">
    </component>

    <!--<component
      id="DropTreeRepository"
      lifestyle="Transient"
      service="GatherContent.Connector.IRepositories.Interfaces.IDropTreeRepository, GatherContent.Connector.IRepositories"
      type="GatherContent.Connector.SitecoreRepositories.Repositories.DropTreeRepository, GatherContent.Connector.SitecoreRepositories">
    </component>-->
    
  </components>
</configuration>