<umb-panel>
    <umb-header>
        <div class="umb-headline-editor-wrapper span12 ng-scope">
            <h1 class="ng-binding">Confirm import selection</h1>
        </div>
    </umb-header>
    <umb-tab-view>
        <div ng-controller="import.locations.toimport.controller as confirm" class="umb-pane">
            <div ng-style="{'display': !confirm.busy ? 'none' : ''}">
                <div style="text-align: center; margin-top: 200px;">
                    <h2 class="title">Import in progress</h2>
                    <p>Please do not close your browser. Depending on the number of Items you have selected the import can take some time.</p>
                </div>
                <!--<umb-load-indicator></umb-load-indicator>-->
                <div class="umb-load-indicator content-column-body" style="width: 100%; height: 100%;"></div>
            </div>
            <div ng-style="{'display': confirm.busy ? 'none' : ''}">
                <!--<umb-control-group label="Target Node" description="Please select Target Node">
                    <input class="umb-editor umb-textstring" type="text" ng-model="confirm.model.TargetNodeName" disabled required />
                    <a class="btn" ng-click="confirm.selectTargetNode()">Open</a>
                </umb-control-group>-->
                <div ng-if="!!confirm.items && confirm.items.length > 0" class="umb-listview">
                    <div class="scroll_table_wrapper">
                        <div class="scroll_table">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            <div>Template Name</div>
                                        </th>
                                        <th>
                                            <div>Mapping Name</div>
                                        </th>
                                        <th style="width: 130px;">
                                            <div style="width: 130px;">Umbraco Template</div>
                                        </th>
                                        <th>
                                            <div>Default Location</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in confirm.items">
                                        <td>
                                            <div>{{item.TemplateName}}</div>
                                        </td>
                                        <td>
                                            <div>{{item.MappingTitle}}</div>
                                        </td>
                                        <td>
                                            <div>{{item.CmsTemplateName}}</div>
                                        </td>
                                        <td>
                                            <div>{{item.DefaultLocationTitle}}</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
                <div ng-style="{'display': confirm.busy ? 'none' : ''}">
                    <div>
                        <input type="checkbox" ng-model="confirm.isChangeStatus" />
                        After successful import change status of item to <select class="umb-dropdown" ng-model="confirm.currentStatus" style="margin-top: -4px;">
                            <option value="">Select Status</option>
                            <option value="{{status.Id}}" ng-repeat="status in confirm.statuses">{{status.Name}}</option>
                        </select> inside your GatherContent account.
                    </div>
                    <a class="btn btn-warning"
                       href ng-click="confirm.back()">Back</a>
                    <div class="btn-group umb-button" ng-if="!!confirm.items && confirm.items.length > 0">
                        <div ng-if="confirm.saveButtonBusy" class="umb-button__progress -white"></div>
                        <div class="icon-check umb-button__success -white" ng-if="confirm.saveButtonSuccess"></div>
                        <a href class="btn btn-success" ng-click="confirm.import()">
                            <span ng-class="{'-hidden':confirm.saveButtonBusy}">Import</span>
                        </a>
                    </div>
                    <!--<a class="btn btn-success" ng-if="!!confirm.items && confirm.items.length > 0"
                    href>Import</a>-->
                    <a style="margin-left: 70%" href="mailto:support@gathercontent.com">Need help?</a>
                </div>
                <p></p>
                <!--<div>
                </div>-->
                <!--<div class="btn-group umb-button">
                    <div ng-if="setCont.saveButtonBusy" class="umb-button__progress -white"></div>
                    <div class="icon-check umb-button__success -white" ng-if="setCont.saveButtonSuccess"></div>
                    <button type="submit" data-hotkey="ctrl+s" class="btn btn-success">
                        <span ng-class="{'-hidden':setCont.saveButtonBusy}">SAVE API CREDENTIALS</span>
                    </button>
                </div>-->
            </div>
        </div>
    </umb-tab-view>
</umb-panel>
